<!-- Start-View-Payment -->
<div class="page-title">
  <h4 class="mb-3">Payments</h4>
</div>
<div class="card border-0">
  <div class="card-body">
    <div class="d-flex flex-wrap align-items-center">
      <form>
        <div class="input-group mb-sm-0">
          <input type="text" class="form-control" placeholder="Search..." />
          <div class="input-group-append">
            <button class="btn btn-primary"><span class="fa fa-search"></span></button>
          </div>
        </div>
      </form>
      <a routerLink="/payment/add" class="btn btn-primary ml-auto">Add Payment</a>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap align-items-center my-3">
  <button class="btn btn-secondary mb-sm-0 mb-3"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Export</button>
  <div class="ml-auto filter-table d-flex align-items-center">
    <span>Order By</span>
    <form class="mx-2">
      <select class="filters-columns form-control form-inline">
        <option value="id">Id</option>
        <option value="item-code">Item Code</option>
        <option value="unit-price">Unit Price</option>
        <option value="created_at">Created at</option>
      </select>
    </form>
    <span class="fa fa-long-arrow-up d-none text-primary"></span>
    <span class="fa fa-long-arrow-down text-primary"></span>
  </div>
</div>
<div class="card border-0">
  <div class="card-body">
    <div class="table-responsive border-bottom">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Payment Number</th>
            <th>Payment Date</th>
            <th>Invoice ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments" routerLink="/payment/details" class="trCursor">
            <td>{{payment.id}}</td>
            <td>{{payment.payment_number}}</td>
            <td>{{payment.date}}</td>
            <td>{{payment.invoice_id}}</td>
            <td align="center">
              <a href="#" class="text-danger" title="Delete"><span class="fa fa-times"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Start the pagination-->
    <ims-pagination
    [total]="totalItems"
    [current]="currentPage"
    [size]="pageSize">
    </ims-pagination>

   
   
    <!--End the pagination-->
  </div>
</div>
 <!-- End-View-Payment -->