<div _ngcontent-c4="" class="card-body">
  <form _ngcontent-c4="">
   
    <div _ngcontent-c4="" class="table-responsive border-bottom mb-3">
      <table _ngcontent-c4="" class="table item-table">
        <thead _ngcontent-c4="">
          <tr _ngcontent-c4="">
            <th _ngcontent-c4="">
              <div _ngcontent-c4="" class="d-flex align-items-center">
                Item Description<a _ngcontent-c4="" class="ml-auto" data-toggle="modal" href="#product-modal"></a>
              </div>
            </th>
            <th _ngcontent-c4="">U.O.M</th>
            <th _ngcontent-c4="">Unit Price</th>
            <th _ngcontent-c4="">Qty</th>
            <th _ngcontent-c4="">Total</th>
          </tr>
        </thead>
        <tbody _ngcontent-c4="">
          <tr _ngcontent-c4="">
            <td _ngcontent-c4="">
              <select _ngcontent-c4="" class="form-control">
                <option _ngcontent-c4="">Type or click to select</option>
              </select>
            </td>
            <td _ngcontent-c4="">
              <input _ngcontent-c4="" class="form-control" name="u-m-o" type="text">
            </td>
            <td _ngcontent-c4="">
              <input _ngcontent-c4="" class="form-control" name="unit-price" type="text">
            </td>
            <td _ngcontent-c4="">
              <input _ngcontent-c4="" class="form-control" name="qty" type="text">
            </td>
            <td _ngcontent-c4="">
              <div _ngcontent-c4="" class="d-flex">
                <input _ngcontent-c4="" class="form-control" name="total" type="text">
                <button _ngcontent-c4="" class="btn bg-transparent border-0"><span _ngcontent-c4="" class="fa fa-times text-danger"></span></button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot _ngcontent-c4="">
          <tr _ngcontent-c4="">
            <td _ngcontent-c4="" colspan="2">
              <button _ngcontent-c4="" class="btn btn-secondary">
                <span _ngcontent-c4="" class="fa fa-plus"></span> Add new line
              </button>
            </td>
            <td _ngcontent-c4="" class="text-right" colspan="2">
              Sub Total:
            </td>
            <td _ngcontent-c4="" class="text-right pr-5">
              0.00
            </td>
          </tr>
          <tr _ngcontent-c4="">
            <td _ngcontent-c4="" colspan="2"></td>
            <td _ngcontent-c4="" class="text-right" colspan="2">
              <div _ngcontent-c4="" class="d-flex align-items-center justify-content-end">
                Discount&nbsp;<input _ngcontent-c4="" class="form-control col-3" type="text">
              </div>
            </td>
            <td _ngcontent-c4="" class="text-right pr-5">
              -0.00
            </td>
          </tr>
          <tr _ngcontent-c4="">
            <td _ngcontent-c4="" colspan="2"></td>
            <td _ngcontent-c4="" class="text-right" colspan="2">
              <div _ngcontent-c4="" class="d-flex align-items-center justify-content-end">
                CGST&nbsp;<input _ngcontent-c4="" class="form-control col-2" type="text">&nbsp;% :
              </div>
            </td>
            <td _ngcontent-c4="" class="text-right pr-5">
              0.00
            </td>
          </tr>
          <tr _ngcontent-c4="">
            <td _ngcontent-c4="" colspan="2"></td>
            <td _ngcontent-c4="" class="text-right" colspan="2">
              <div _ngcontent-c4="" class="d-flex align-items-center justify-content-end">
                SGST&nbsp;<input _ngcontent-c4="" class="form-control col-2" type="text">&nbsp;% :
              </div>
            </td>
            <td _ngcontent-c4="" class="text-right pr-5">
              0.00
            </td>
          </tr>
          <tr _ngcontent-c4="">
            <td _ngcontent-c4="" colspan="2"></td>
            <td _ngcontent-c4="" class="text-right" colspan="2">
              <strong _ngcontent-c4="">Grand Total:</strong>
            </td>
            <td _ngcontent-c4="" class="text-right pr-5">
              <strong _ngcontent-c4="">USD 0.00</strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
   
   
  </form>
</div>