<!-- datepicker -->
<div>
<label>Date</label>
<input type="text" ngbDatepicker #d="ngbDatepicker" placeholder="Date" formGroup="date" required />
<button (click)="d.toggle()" type="button">Date</button>
</div>

<!-- export -->
<button class="btn btn-secondary mb-sm-0 mb-3" (click)="clickExport()"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Export</button>
<!-- orderby -->
<div class="ml-auto filter-table d-flex align-items-center">
  <span>Order By</span>
  <form class="mx-2">

    <select class="filters-columns form-control form-inline"  (change)="sortData()">
      <option *ngFor="let key of OrderByKey">{{ key }}</option>
  </select>
  </form>
  <div id="toggle-section"></div>
<a id="open-close-toggle">
   <span class="fa fa-long-arrow-up d-none text-primary" ></span>
  <span class="fa fa-long-arrow-down text-primary"></span>
</a>
</div>
